/* 
**************
RESET

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* 
**************
COMMON

*/

body {
  height: 100vh;
}

:root {
  --navbar-color: #000000;
  --main-color: #141922;
  --footer-color: #282828;
}

/* 
**************
TYPOGRAPHY

*/

* {
  font-family: 'Montserrat', sans-serif;
}

header p {
  color: #717171;
  font-weight: 1000;
  font-size: 0.8125rem;
}

header h4 {
  color: white;
}

#p-name-playlist {
  font-size: 0.9375rem;
}

.row-profile p {
  color: white;
  font-size: 1.002rem;
  font-weight: 600;
}

.container-categories strong {
  font-size: 0.875rem;
  color: #717171;
}

/* 
**************
HEADER


*/

header {
  display: flex;
  flex-shrink: 0;
}

.container-navbar {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  flex-shrink: 0;
  background-color: var(--navbar-color);
  height: 100%;
  padding: 0.9375rem;
}

.box-navbar {
  /* border: 1px dashed rgb(5, 255, 5); */
}

.logo {
  padding-bottom: 0.625rem;
}

#logobig {
  max-width: 9.375rem;
}
#logosmall {
  display: none;
}

.menu {
  display: flex;
  align-items: center;
  align-content: center;
}

.img-menu {
  width: 1.5625rem;
  opacity: 0.7;
}

.text-menu {
  display: flex;

  align-self: center;
}

.playlist {
  /* margin-top: 1.5625rem; */

  /* border: 1px dashed rgb(0, 255, 149); */
}

.container-name-playlist {
  overflow: hidden;
}

.create-playlist {
  display: flex;
  /* border: 1px solid violet; */
  width: 2.1875rem;
  /* height: 2.1875rem; */
  background-color: #a3a3a3;
  align-items: center;
  justify-content: center;
  font-size: 1.875rem;
  font-weight: 700;
}

.row-playlist {
  display: flex;

  /* border: 1px solid violet; */
}

.text-playlist {
  /* border: 1px dashed blue; */
  /* max-width: 15.625rem */
  display: flex;
  align-items: center;
}

.name-playlist {
  /* border: 1px dashed blue; */

  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}
.box-ender-header {
  display: flex;
  flex-direction: column;

  /* border: 1px solid blueviolet; */
  justify-content: flex-end;
  margin-top: auto;
}

.install-app {
  display: flex;

  border-bottom: 1px solid #717171;
  width: 100%;
  gap: 0.9375rem;
}

#img-download {
  width: 1.25rem;
}

.profile {
  /* margin-top: 0.625rem; */
  border: 1px solid red;
}

#img-profile {
  display: flex;
  background-color: #a3a3a3;
  border-radius: 50%;
  width: 1.25rem;
  /* height: 1.25rem; */
  object-fit: cover;
}

.row-profile {
  display: flex;
  border: 1px solid white;
  justify-content: center;
  gap: 1.25rem;
}

/* 
**************
MAIN

*/

.top-element {
  height: calc(100% - 5.625rem);
  background-color: var(--main-color);
  display: flex;
}

main {
  flex-grow: 1;
}

.right-bar {
  display: flex;
  height: 5.3125rem;
  background-color: var(--navbar-color);
  opacity: 0.3;
  justify-content: flex-end;
  align-items: center;
}

.upgrade-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 12.5rem;
  border: 1px solid white;
  border-radius: 1.25rem;
  color: white;
}

.upgrade-btn a {
  font-size: 0.75rem;
  display: flex;
  color: white;
  text-align: center;
}

.container-categories {
  padding: 0.3125rem;
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  flex-wrap: wrap;

  /* 
  background-color: beige; */
}

.select-categories {
  border-bottom: 0.125rem inset #adff2f;
}

.unselect-categories {
}
/* 
**************
FOOTER

*/

footer {
  height: 5.625rem;
  background-color: var(--footer-color);
}

/* 
**************
RESPONSIVE
*/

/* 
large
 */
@media screen and (max-width: 1200px) {
}

/* 
medium
 */
@media screen and (max-width: 992px) {
  .container-name-playlist {
    overflow: scroll;
    scrollbar-color: rgb(193, 193, 193);
  }
}

/* 
small
 */
@media screen and (max-width: 768px) {
  .container-name-playlist {
    overflow: scroll;
    scrollbar-color: rgb(193, 193, 193);
  }
}

/* 
extrasmall
 */
@media screen and (max-width: 576px) {
  header,
  main {
    max-height: 36.375rem;
  }

  .container-navbar {
    width: 2.8125rem;
    height: 100%;
  }

  #logosmall,
  #img-download {
    display: block;
  }

  #logobig {
    display: none;
  }

  .container-navbar {
    padding: 0.3125rem;
  }

  .text-menu {
    display: none;
  }

  .playlist,
  .row-playlist,
  .name-playlist,
  #none-install-app,
  .row-profile p {
    display: none;
  }

  .install-app,
  .row-profile {
    justify-content: center;
  }
}
